project-kganya-backend/exports/04-status-api.json
{
  "name": "Kganya 04 Status API",
  "nodes": [
    {
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "kganya/backend/status",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "verify_auth",
      "name": "Verify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst query = $json.query || {};\nconst expected = $env.KGANYA_STATUS_API_TOKEN;\nconst auth = headers.authorization || headers.Authorization || headers['x-kganya-console-token'] || '';\nconst token = auth.replace(/^Bearer\\s+/i, '').trim();\nif (!expected || token !== expected) throw new Error('UNAUTHENTICATED');\nreturn [{ json: { authValid: true, organizationId: query.organizationId || null, batchId: query.batchId || null, sourceRecordId: query.sourceRecordId || null, state: query.state || null, page: Number(query.page || 1), pageSize: Math.min(Number(query.pageSize || 25), 100) } }];"
      }
    },
    {
      "id": "build_status_filter",
      "name": "Build Status Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "jsCode": "const query = $json;\nreturn [{ json: { organizationId: query.organizationId || null, batchId: query.batchId || null, sourceRecordId: query.sourceRecordId || null, state: query.state || null, page: query.page || 1, pageSize: query.pageSize || 25 } }];"
      }
    },
    {
      "id": "fetch_status_snapshot",
      "name": "Fetch Status Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [780, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state, COUNT(*)::int AS count, COALESCE(MAX(error_message), '') AS \"latestErrorMessage\" FROM ingestion_jobs WHERE organization_id = '{{$json.organizationId}}'::uuid GROUP BY state ORDER BY state LIMIT '{{$json.pageSize}}'::int;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "build_response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json ?? item);\nconst filter = $node[\"Build Status Filter\"].json;\nreturn [{ json: { organizationId: filter.organizationId || null, batchId: filter.batchId || null, sourceRecordId: filter.sourceRecordId || null, page: filter.page || 1, pageSize: filter.pageSize || 25, states: rows } }];"
      }
    },
    {
      "id": "respond_to_webhook",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Verify Auth", "type": "main", "index": 0 }]]
    },
    "Verify Auth": {
      "main": [[{ "node": "Build Status Filter", "type": "main", "index": 0 }]]
    },
    "Build Status Filter": {
      "main": [[{ "node": "Fetch Status Snapshot", "type": "main", "index": 0 }]]
    },
    "Fetch Status Snapshot": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Respond To Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "kganya" },
    { "name": "backend" },
    { "name": "n8n" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "kganya-backend-status-v1"
}
