project-kganya-backend/exports/05-retry-monitor.json
{
  "name": "Kganya 05 Retry Monitor",
  "nodes": [
    {
      "id": "cron_trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [260, 300],
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyFiveMinutes"
          }
        ]
      }
    },
    {
      "id": "load_retry_candidates",
      "name": "Load Retry Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS \"jobId\", organization_id AS \"organizationId\", knowledge_source_id AS \"knowledgeSourceId\", source_record_id AS \"sourceRecordId\", retry_count AS \"retryCount\", state, error_message AS \"errorMessage\", failure_code AS \"failureCode\", failure_category AS \"failureCategory\", next_retry_at AS \"nextRetryAt\" FROM ingestion_jobs WHERE state IN ('failed', 'retrying') AND retry_count < 3 AND (next_retry_at IS NULL OR next_retry_at <= NOW()) ORDER BY updated_at ASC LIMIT 50;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "classify_retryability",
      "name": "Classify Retry Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json ?? item);\nconst retryableCategories = new Set(['transient', 'provider', 'database']);\nconst retryable = rows.filter((row) => retryableCategories.has(String(row.failureCategory || '').toLowerCase()) && !['signature', 'schema', 'validation', 'auth'].includes(String(row.failureCategory || '').toLowerCase()));\nreturn [{ json: { retryableIds: retryable.map((row) => row.jobId), retryableIdsJson: JSON.stringify(retryable.map((row) => row.jobId)), retryableCount: retryable.length, blockedCount: rows.length - retryable.length } }];"
      }
    },
    {
      "id": "requeue_eligible_jobs",
      "name": "Requeue Eligible Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingestion_jobs SET state = 'queued', retry_count = retry_count + 1, next_retry_at = NULL, updated_at = NOW() WHERE id IN (SELECT value::uuid FROM jsonb_array_elements_text('{{$json.retryableIdsJson}}'::jsonb) AS value) RETURNING id;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "build_retry_summary",
      "name": "Build Retry Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "return [{ json: { retryableCount: $node[\"Classify Retry Metadata\"].json.retryableCount || 0, blockedCount: $node[\"Classify Retry Metadata\"].json.blockedCount || 0, requeued: true } }];"
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [[{ "node": "Load Retry Candidates", "type": "main", "index": 0 }]]
    },
    "Load Retry Candidates": {
      "main": [[{ "node": "Classify Retry Metadata", "type": "main", "index": 0 }]]
    },
    "Classify Retry Metadata": {
      "main": [[{ "node": "Requeue Eligible Jobs", "type": "main", "index": 0 }]]
    },
    "Requeue Eligible Jobs": {
      "main": [[{ "node": "Build Retry Summary", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "kganya" },
    { "name": "backend" },
    { "name": "n8n" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "kganya-backend-retry-v1"
}
