project-kganya-backend/n8n-workflow-export.json
{
  "name": "Kganya Backend Dispatch (Legacy Monolith Reference)",
  "notes": "Legacy reference only. The active implementation is split across workflows/*.md and exports/*.json.",
  "nodes": [
    {
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "kganya/backend/dispatch",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "verify_signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.KGANYA_EMBEDDING_WEBHOOK_SECRET;\nconst headers = $json.headers || {};\nconst body = $json.body || {};\nconst signature = headers['x-kganya-signature'] || headers['X-Kganya-Signature'] || '';\nconst canonical = JSON.stringify(body);\nconst computed = secret ? crypto.createHmac('sha256', secret).update(canonical).digest('hex') : signature;\nif (secret && computed !== signature) {\n  throw new Error('INVALID_SIGNATURE');\n}\nreturn [{ json: { signatureValid: true, signatureMode: secret ? 'hmac-sha256' : 'unsigned', batchId: headers['x-kganya-batch-id'] || body.batchId, checksum: headers['x-kganya-checksum'] || body.checksum, body } }];"
      }
    },
    {
      "id": "parse_batch",
      "name": "Parse Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300],
      "parameters": {
        "jsCode": "const input = $json.body || $json;\nconst jobs = Array.isArray(input.jobs) ? [...input.jobs].sort((a, b) => String(a.jobId).localeCompare(String(b.jobId))) : [];\nreturn [{ json: { batchId: input.batchId, source: input.source || 'kganya', generatedAt: input.generatedAt, jobCount: Number(input.jobCount || jobs.length), jobs, checksum: input.checksum } }];"
      }
    },
    {
      "id": "validate_batch_schema",
      "name": "Validate Batch Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "jsCode": "const batch = $json;\nconst errors = [];\nif (!batch.batchId) errors.push('batchId is required');\nif (batch.source !== 'kganya') errors.push('source must be kganya');\nif (!batch.generatedAt) errors.push('generatedAt is required');\nif (!Number.isInteger(batch.jobCount) || batch.jobCount < 1) errors.push('jobCount must be a positive integer');\nif (!Array.isArray(batch.jobs) || batch.jobs.length === 0) errors.push('jobs must be a non-empty array');\nif (batch.jobCount !== batch.jobs.length) errors.push('jobCount does not match jobs length');\nfor (const job of batch.jobs || []) {\n  if (!job.jobId) errors.push('jobId is required');\n  if (!job.organization?.id) errors.push('organization.id is required');\n  if (!job.organization?.clerkOrgId) errors.push('organization.clerkOrgId is required');\n  if (!job.knowledgeSource?.id) errors.push('knowledgeSource.id is required');\n  if (!job.sourceRecord?.id) errors.push('sourceRecord.id is required');\n  if (!job.sourceRecord?.recordKey) errors.push('sourceRecord.recordKey is required');\n  if (!Number.isInteger(job.sourceRecord?.version)) errors.push('sourceRecord.version must be an integer');\n  if (!job.sourceRecord?.checksum) errors.push('sourceRecord.checksum is required');\n}\nif (errors.length) {\n  throw new Error(`INVALID_BATCH: ${errors.join('; ')}`);\n}\nreturn [{ json: { batchValid: true, batchId: batch.batchId, jobCount: batch.jobCount, normalizedJobs: batch.jobs, checksum: batch.checksum } }];"
      }
    },
    {
      "id": "resolve_organization",
      "name": "Resolve Organization",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1220, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  clerk_org_id AS \"clerkOrgId\",\n  name,\n  slug,\n  status\nFROM organizations\nWHERE id = '{{$json.normalizedJobs[0].organization.id}}'\n  AND clerk_org_id = '{{$json.normalizedJobs[0].organization.clerkOrgId}}'\n  AND status = 'active'\nLIMIT 1;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "fetch_source_graph",
      "name": "Fetch Source Graph",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ij.id AS \"jobId\",\n  ij.organization_id AS \"organizationId\",\n  ij.knowledge_source_id AS \"knowledgeSourceId\",\n  ij.source_record_id AS \"sourceRecordId\",\n  ks.id AS \"knowledgeSource.id\",\n  ks.source_key AS \"knowledgeSource.sourceKey\",\n  ks.source_family AS \"knowledgeSource.sourceFamily\",\n  ks.source_type AS \"knowledgeSource.sourceType\",\n  ks.title AS \"knowledgeSource.title\",\n  ks.canonical_ref AS \"knowledgeSource.canonicalRef\",\n  ks.original_uri AS \"knowledgeSource.originalUri\",\n  ks.original_path AS \"knowledgeSource.originalPath\",\n  sr.id AS \"sourceRecord.id\",\n  sr.record_key AS \"sourceRecord.recordKey\",\n  sr.topic AS \"sourceRecord.topic\",\n  sr.source_kind AS \"sourceRecord.sourceKind\",\n  sr.title AS \"sourceRecord.title\",\n  sr.body_markdown AS \"sourceRecord.bodyMarkdown\",\n  sr.body_json AS \"sourceRecord.bodyJson\",\n  sr.source_url AS \"sourceRecord.sourceUrl\",\n  sr.source_anchor AS \"sourceRecord.sourceAnchor\",\n  sr.version AS \"sourceRecord.version\",\n  sr.checksum AS \"sourceRecord.checksum\",\n  (\n    SELECT COALESCE(json_agg(field_row ORDER BY field_order), '[]'::json)\n    FROM (\n      SELECT\n        field_name AS field_name,\n        field_value AS field_value,\n        field_type AS field_type,\n        field_order AS field_order,\n        is_key AS is_key\n      FROM source_record_fields\n      WHERE source_record_id = sr.id\n      ORDER BY field_order ASC\n    ) field_row\n  ) AS \"sourceRecord.fields\",\n  (\n    SELECT COALESCE(json_agg(chunk_row ORDER BY chunk_index), '[]'::json)\n    FROM (\n      SELECT\n        chunk_index AS chunk_index,\n        chunk_type AS chunk_type,\n        source_family AS source_family,\n        topic AS topic,\n        title AS title,\n        section_path AS section_path,\n        chunk_text AS chunk_text,\n        chunk_hash AS chunk_hash,\n        active AS active\n      FROM document_chunks\n      WHERE source_record_id = sr.id\n      ORDER BY chunk_index ASC\n    ) chunk_row\n  ) AS \"sourceRecord.chunks\"\nFROM ingestion_jobs ij\nJOIN knowledge_sources ks ON ks.id = ij.knowledge_source_id\nJOIN source_records sr ON sr.id = ij.source_record_id\nWHERE ij.organization_id = '{{$json.organization.id}}'\n  AND ij.job_type = 'embedding'\n  AND ij.state = 'pending'\nORDER BY ij.created_at ASC;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "normalize_source_record",
      "name": "Normalize Source Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300],
      "parameters": {
        "jsCode": "const rows = Array.isArray($json) ? $json : [$json];\nconst normalizedJobs = rows.map((row) => ({\n  jobId: row.jobId,\n  organizationId: row.organizationId,\n  knowledgeSourceId: row.knowledgeSourceId,\n  sourceRecordId: row.sourceRecordId,\n  normalizedRecord: {\n    recordKey: row['sourceRecord.recordKey'],\n    version: row['sourceRecord.version'],\n    topic: row['sourceRecord.topic'],\n    title: row['sourceRecord.title'],\n    bodyMarkdown: row['sourceRecord.bodyMarkdown'],\n    bodyJson: row['sourceRecord.bodyJson'],\n    checksum: row['sourceRecord.checksum'],\n    fields: [],\n  },\n}));\nreturn normalizedJobs.map((item) => ({ json: item }));"
      }
    },
    {
      "id": "build_derived_chunks",
      "name": "Build Derived Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 300],
      "parameters": {
        "jsCode": "const record = $json.normalizedRecord;\nconst chunks = [];\nif (record.bodyMarkdown) {\n  chunks.push({ chunkIndex: 0, chunkType: 'markdown-section', sourceFamily: 'kganya', topic: record.topic, title: record.title, sectionPath: record.title, chunkText: record.bodyMarkdown, chunkHash: require('crypto').createHash('sha256').update(record.bodyMarkdown).digest('hex'), active: true });\n}\nreturn [{ json: { ...$json, chunks } }];"
      }
    },
    {
      "id": "dispatch_embeddings",
      "name": "Dispatch Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2180, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.KGANYA_EMBEDDING_PROVIDER_URL}}",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"batchId\": $json.jobId, \"organizationId\": $json.organizationId, \"knowledgeSourceId\": $json.knowledgeSourceId, \"sourceRecordId\": $json.sourceRecordId, \"version\": $json.normalizedRecord.version, \"chunks\": $json.chunks}",
        "options": {
          "timeout": 30000,
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "persist_derived_rows",
      "name": "Persist Derived Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2420, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_rows AS (\n  SELECT\n    '{{$json.sourceRecordId}}'::uuid AS source_record_id,\n    '{{$json.organizationId}}'::uuid AS organization_id,\n    '{{$json.knowledgeSourceId}}'::uuid AS knowledge_source_id,\n    {{$json.version}}::int AS version,\n    chunk.value->>'chunkIndex' AS chunk_index,\n    chunk.value->>'chunkType' AS chunk_type,\n    chunk.value->>'sourceFamily' AS source_family,\n    chunk.value->>'topic' AS topic,\n    chunk.value->>'title' AS title,\n    NULLIF(chunk.value->>'sectionPath', '') AS section_path,\n    chunk.value->>'chunkText' AS chunk_text,\n    chunk.value->>'chunkHash' AS chunk_hash,\n    CASE WHEN COALESCE(chunk.value->>'active', 'true') = 'true' THEN true ELSE false END AS active,\n    COALESCE(chunk.value->>'embeddingModel', 'pending') AS embedding_model\n  FROM jsonb_array_elements('{{$json.chunks}}'::jsonb) AS chunk(value)\n), retired_rows AS (\n  UPDATE document_chunks\n  SET active = false,\n      retired_at = NOW(),\n      updated_at = NOW()\n  WHERE source_record_id = '{{$json.sourceRecordId}}'::uuid\n    AND version <> {{$json.version}}::int\n    AND active = true\n  RETURNING id\n), upsert_rows AS (\n  INSERT INTO document_chunks (\n    id,\n    organization_id,\n    knowledge_source_id,\n    source_record_id,\n    version,\n    chunk_index,\n    chunk_type,\n    source_family,\n    topic,\n    title,\n    section_path,\n    chunk_text,\n    chunk_hash,\n    embedding,\n    embedding_model,\n    active,\n    created_at,\n    updated_at\n  )\n  SELECT\n    gen_random_uuid(),\n    organization_id,\n    knowledge_source_id,\n    source_record_id,\n    version,\n    chunk_index::int,\n    chunk_type,\n    source_family,\n    topic,\n    title,\n    section_path,\n    chunk_text,\n    chunk_hash,\n    NULL,\n    embedding_model,\n    active,\n    NOW(),\n    NOW()\n  FROM input_rows\n  ON CONFLICT (organization_id, source_record_id, version, chunk_index)\n  DO UPDATE SET\n    knowledge_source_id = EXCLUDED.knowledge_source_id,\n    chunk_type = EXCLUDED.chunk_type,\n    source_family = EXCLUDED.source_family,\n    topic = EXCLUDED.topic,\n    title = EXCLUDED.title,\n    section_path = EXCLUDED.section_path,\n    chunk_text = EXCLUDED.chunk_text,\n    chunk_hash = EXCLUDED.chunk_hash,\n    active = EXCLUDED.active,\n    updated_at = NOW()\n  RETURNING id\n)\nSELECT\n  (SELECT COUNT(*)::int FROM upsert_rows) AS written_count,\n  0::int AS updated_count,\n  (SELECT COUNT(*)::int FROM retired_rows) AS retired_count;"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "update_job_state",
      "name": "Update Job State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2660, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingestion_jobs\nSET state = 'completed',\n    finished_at = NOW(),\n    output_checksum = COALESCE(output_checksum, '{{$json.checksum}}'),\n    updated_at = NOW()\nWHERE id = '{{$json.jobId}}'::uuid\nRETURNING id AS \"jobId\", state, started_at AS \"startedAt\", finished_at AS \"finishedAt\", retry_count AS \"retryCount\";"
      },
      "credentials": {
        "postgres": {
          "id": "__POSTGRES_CREDENTIAL_ID__",
          "name": "Kganya Neon Postgres"
        }
      }
    },
    {
      "id": "build_acknowledgement",
      "name": "Build Acknowledgement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 300],
      "parameters": {
        "jsCode": "const body = $json;\nreturn [{ json: { batchId: body.batchId || body.jobId, received: true, acceptedCount: 1, rejectedCount: 0, queuedCount: 1, completedCount: 1, failedCount: 0, errors: [], checksum: body.checksum || 'pending' } }];"
      }
    },
    {
      "id": "respond_to_webhook",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3140, 300],
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      }
    },
    {
      "id": "error_handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 540],
      "parameters": {
        "jsCode": "const error = $json.error || $json;\nreturn [{ json: { batchId: $json.batchId || null, received: true, acceptedCount: 0, rejectedCount: 1, queuedCount: 0, completedCount: 0, failedCount: 1, errors: [{ code: error.code || 'WORKFLOW_ERROR', message: error.message || 'Unhandled workflow error', jobId: $json.jobId || null }], checksum: $json.checksum || null } }];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Parse Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Batch": {
      "main": [
        [
          {
            "node": "Validate Batch Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Batch Schema": {
      "main": [
        [
          {
            "node": "Resolve Organization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Organization": {
      "main": [
        [
          {
            "node": "Fetch Source Graph",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Graph": {
      "main": [
        [
          {
            "node": "Normalize Source Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Record": {
      "main": [
        [
          {
            "node": "Build Derived Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Derived Chunks": {
      "main": [
        [
          {
            "node": "Dispatch Embeddings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Embeddings": {
      "main": [
        [
          {
            "node": "Persist Derived Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Derived Rows": {
      "main": [
        [
          {
            "node": "Update Job State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job State": {
      "main": [
        [
          {
            "node": "Build Acknowledgement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Acknowledgement": {
      "main": [
        [
          {
            "node": "Respond To Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond To Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "kganya"
    },
    {
      "name": "backend"
    },
    {
      "name": "n8n"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "kganya-backend-dispatch-v1"
}
